
<div class="columns">
    <div class="column is-12">

        <section class="section">
            <h1 class="title">Report a repair</h1>
            <h2 class="subtitle">Please give us some details of the repair you would like carried out.</h2>
        </section>


        <div class="card is-shady">
            <div class="card-content">
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                    <a href="#"></a>. <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
        </div>
    </div>
</div>
