@using Repairs.Models
@model Repairs.ViewModels.CategoryViewModel
@{
    ViewBag.Title = "Log a repair";
}

<div class="columns">
    <div class="column is-12">

        <section class="section">
            <h1 class="title">Report a repair</h1>
            <p class="subtitle">Please give us some details of the repair you would like carried out.</p>
        </section>


        <div class="card is-shady">
            <div class="card-content">

                <div id="CategoryStep">
                    <div class="columns">
                        <div class="column is-6">
                            <p>Question 1</p>
                        </div>

                        <div class="column is-6">
                            @using (Ajax.BeginForm("Index", "RazorAjax", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAjaxRequestSuccess" }, new { @id = "CategoryStepForm", @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">

                                    @foreach (var category in Model.Categories)
                                    {
                                        <div>
                                            <label>
                                                <a class="button is-fullwidth"> @category.Title </a>
                                                @Html.RadioButtonFor(m => category.Title, category.Title)
                                            </label>
                                        </div>
                                    }

                                    @*<div>@Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger custom-danger" })</div>*@
                                </div>
                            }
                        </div>
                    </div>
                </div>


                <div id="SubCategoryStep">

                </div>


            </div>
        </div>
    </div>
</div>




