<section class="hero is-medium is-dark is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="hero__logo">
                <i class="fas fa-tools fa-5x"></i>
            </p>
           
            <p class="title">
                Diagnose Repairs
            </p>
            <p class="subtitle">
                PITCH
            </p>
            <p class="subtitle">
                <a class="button is-outlined" href="@Url.Action("Index","Diagnose")"> Log a repair </a>
            </p>
        </div>
    </div>
</section>