<section class="hero is-medium is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <p class="title">
                PITCH
            </p>
            <p class="subtitle">
                #diagnose-repairs
            </p>
            <p class="subtitle">
                <a class="button is-outlined" href="@Url.Action("Index","Diagnose")"> Log a repair </a>
            </p>
        </div>
    </div>
</section>